In [8]:
import pandas as pd

In [9]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
data_frame = {
    'Name' : ["Alice","BOB","Claire"],
    'Age'  : [25 , 30 , 27],
    'Gender' : ['Female','Male','Female']
}

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]
s=pd.Series(l)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Dataframe is tabular structure that holds the data in tabular format,while series is a 1-d  structure respresenting only 1 row or column.

There are multiple functions such as, head(), tail(),describe etc...

In Pandas both series and dataframe are mutable while series is not.

In [23]:
import pandas as pd
name_series = pd.Series(["ABHAY","AKHIL","AKSHAT"])
age_series = pd.Series([19,20,21])
city_series = pd.Series(["Ontario","Abu Dhabhi","Karachi"])
data_frame = {
    'Name': name_series,
    'age' : age_series,
    'cities' : city_series
}
df=pd.data_frame(data_frame)
print(df)

AttributeError: module 'pandas' has no attribute 'data_frame'